[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=worker
Group=sanjeev
WorkingDirectory=/home/worker/app/src/
Environment="PATH=/home/worker/app/venv/bin"
EnvironmentFile=/home/worker/.env
ExecStart=/home/worker/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target